Source: initscripts-sidux-live
Section: base
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kel@otaku42.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: initscripts-sidux-live
Architecture: all
Depends: dash, debconf-utils, distro-defaults, rebuildfstab (>= 0.6.15), udev, eject, pcmciautils, hwsetup-ng, ifplugd, laptop-detect, hwinfo, rsync
Recommends: xorgconfig-sidux, tzdata, kdm | gdm
Suggests: unionfs-utils, hotkey-setup
Description: sidux initscripts for live CDs
 Live specific initscripts for hardware detection and shutdown functions 
 on sidux.
