Source: initscripts-kanotix-live
Section: base
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs (>= 0.4.23), debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: initscripts-kanotix-live
Architecture: all
Depends: distro-defaults, rebuildfstab-kanotix, udev (>= 0.071), sysvinit (>= 2.86), eject (>= 2.1.4-2.1), sysv-rc (<< 9.00), pcmciautils, hwsetup-ng
Suggests: avm-firmware, drdsl, ltmodem-common, unionfs-utils, hotkey-setup
Conflicts: hotplug-kanotix, fix-cdrom, mkdesktophdicons-kanotix, eject-live, pcmcia-cs, usleep-kanotix
Description: KANOTIX initscripts for live CDs
 Live specific initscripts for hardware detection and shutdown functions 
 on KANOTIX.
