#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

install/initscripts-sidux-live::
	cp 		debian/live-reboot.init debian/live-halt.init
	dh_installinit	--name=live-autoconfig --no-start \
			--update-rcd-params="start 00 S ."
	dh_installinit	--name=live-halt --no-start \
			--update-rcd-params="start 90 0 ."
	dh_installinit	--name=live-reboot --no-start \
			--update-rcd-params="start 90 6 ."

clean::
	rm -f debian/live-halt.init
